html {
    background-color:rgb(245, 220, 188);
}

.div {
    background-color: rgb(231, 199, 157);
}

h1 {
    color: rgb(135, 71, 71);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h2 {
    color: palevioletred;
    text-align: center;
    font-style: italic;
}

h4 {
    text-align: center;
    color: rgb(90, 51, 51);
}
